# Ignore all files and directories by default
*
*/

# Allow these file extensions
!*.c
!*.cpp
!*.h
!*.hpp
!*.inl
!*.rc
!*.rs
!*.txt
!.clang-format
!*.md
!*.git*
!*.clang*
!*.bat
!*.sh
!*.hint
!*.cmake

# Allow these special files
!COPYING
!LICENSE
!THIRD_PARTY
!CODE_OF_CONDUCT
!CMakePresets.json

# Allow these directories
!Config/
!Config/**

!CMake/
!CMake/**

!Documentation/
!Documentation/**

!Runtime/
!Runtime/**

!Tools/
!Tools/**

!Studio/
!Studio/**

!ThirdParty/
!ThirdParty/**

# Block these directories including in all subdirectories
**/Intermediate/
**/Binaries/

# .NET defaults to these so just catch all that shit
**/obj/
**/bin/
