# A couple of these are commented out until we need them to not be...

#Binaries
bin
#DerivedDataCache
#Intermediate
obj
Saved
.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.gch
*.pch
*.zip
**/Support/IconGenerator
*.modules